<% layout("/layouts/boilerplate")%>

<div class="row">
  <div class="col-8 offset-2">
    <h1>Edit Your Listing</h1>
    <form
      method="POST"
      action="/listings/<%=listing._id%>/?_method=PUT"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3">
        <label for="title" class="form-label"> Listed Title </label>
        <br />
        <input
          type="text"
          class="form-control"
          value="<%= listing.title %>"
          name="listing[title]"
          type="text"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>

        <br />
      </div>
      <div>
        <label for="description" class="form-label"> Description </label>
        <textarea class="form-control" name="listing[description]" required>
    <%=listing.description %></textarea
        >
      </div>

      <br />
      <div class="mb-3">
        <label for="Image" class="form-label"> Image </label>
        <input
          type="text"
          name="listing[image]"
          class="form-control"
          value="<%= listing.image.url  %>"
          required
        />
        <br />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="Price" class="form-label"> Price </label>
          <input
            name="listing[price]"
            class="form-control"
            value="<%= listing.price %>"
            type="number"
            required
          />
          <div class="invalid-feedback">Please Enter a valid price</div>
          <br />
        </div>
        <div class="mb-3 col-md-8">
          <label for="Country" class="form-label"> Country </label>
          <input
            type="text"
            class="form-control"
            name="listing[country]"
            value="<%= listing.country %>"
            required
          />
          <div class="invalid-feedback">Please Enter a Country</div>
          <br />
        </div>
        <div class="mb-3">
          <label for="Location" class="form-label"> Location </label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            value="<%= listing.location %>"
            required
          />
          <div class="invalid-feedback">Please Enter a location</div>
          <br />
        </div>
      </div>

      <button class="btn btn-dark edit-btn mb-4">Edit</button>
    </form>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";
    window.addEventListener(
      "load",
      function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName("needs-validation");
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>
<script src="/js/script.js"></script>
